body {
  text-align: center;
  margin: 50px 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  background-image: url("SignUpBackgroundImage.jpg");
  background-size: 100%;
}
h1 {
  color: #ffffff;
}
img {
  margin-bottom: 10px;
}

.btn {
  margin-right: 20px !important;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid rgb(3, 122, 190);
  background-color: rgb(3, 122, 190);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.btn:hover {
  text-decoration: none;
  color: white;
}
form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  margin-top: 50px;
  height: 1060px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 500px;
  max-width: 100%;
  min-height: 480px;
  display: inline-block;
  padding-top: 30px;
  font-size: 16px;
  font-weight: bold;
}
form.LoginForm {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  margin-top: 50px;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 500px;
  max-width: 100%;
  min-height: 480px;
  display: inline-block;
  padding-top: 30px;
  font-size: 16px;
  font-weight: bold;
}
input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
textarea {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
select {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
.switcher_item {
  margin-right: 20px !important;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 200px;
  text-decoration: none;
  margin-top: 10px;
}
.switcher_item_active {
  background-color: rgb(3, 122, 190);
  transform: scale(0.95);
  color: #ffffff;
  text-decoration: none;
}
.switcher_item:hover {
  text-decoration: none;
  color: black;
}
.switcher_item_active:hover {
  text-decoration: none;
  color: white;
}
